:root {
    --title-text-color: #212121;
    --primary-text-color: #757575;
    --accent-text-color: #2196F3;
    --text-white-color: #ffffff;
    --botton-text-color: rgba(255, 255, 255, 0.6);
    --botton-portfolio-bgc-color: #F5F4FA;
    --bgc-page: #ffffff;
    --footer-bgc: #2F303A;
}

.list {
    list-style: none;
}

body {
    background-color: var(--bgc-page);
    font-family: roboto, sans-serif;
    color: var(--title-text-color);
    letter-spacing: 0.03em;
}


.link {
    text-decoration: none;
}

/* LOGO */
.logo-header,
.logo-footer {
    color: var(--accent-text-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.logo-header span {
    color: #000000;
}

.logo-footer span {
    color: #ffffff;
}

.logo-header span:hover,
.logo-footer span:hover {
    color: var(--accent-text-color);
}

/* HEADER */

.site-nav .link {
    color: var(--title-text-color);
}

 .contacts-nav .link {
    color: var(--primary-text-color);
 }

 .site-nav .link,
 .contacts-nav .link {
    letter-spacing: 0.02em;
 }

.site-nav .link:hover,
.contacts-nav .link:hover,
.site-nav .link:focus,
.contacts-nav .link:focus {
    color: var(--accent-text-color);
}

.site-nav .link.current {
    color: var(--accent-text-color);
}

header .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02;
}

/* HERO */

.main-page h2.section-titles, 
.main-portfolio h1.section-title {
    color: red;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
}
.hero {
    background-color: var(--footer-bgc);
}

.hero-title {
    color: var(--text-white-color);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
}

/* SECTION */

.section {
    color: var(--primary-text-color);
}

.section-title {
    color: var(--title-text-color);
}

.section.section-four {
    background-color: var(--botton-portfolio-bgc-color);
}

.features h3.section-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}

.features p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

section h2.section-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;

}

.main-page .section h2.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.main-portfolio h1.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.section-four h3.section-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.section-four p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

/* FOOTER */

footer {
    background-color: var(--footer-bgc);
}

.map-link {
    color: var(--text-white-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.contact-link {
    color: var(--botton-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

address {
    font-style: normal;
}
.map-link:focus,
.map-link:hover,
.contact-link:hover,
.contact-link:focus {
    color: var(--accent-text-color);
}

/* BUTTON */

.button {
    cursor: pointer;
}

.buttons {
    background-color: var(--accent-text-color);
    color: var(--text-white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    letter-spacing: inherit;
}

.buttons:focus,
.buttons:hover {
    background-color: var(--botton-portfolio-bgc-color);
    color: var(--title-text-color);
}

.portfolio-filter {
    background-color: var(--botton-portfolio-bgc-color);
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: inherit;
}

.portfolio-filter:hover,
.portfolio-filter:focus {
    background-color: var(--accent-text-color);
    color: var(--text-white-color);
}